@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Nunito:wght@300&family=Ultra&family=Kanit&family=Open+Sans:wght@600&display=swap");

:root {
  --primary-color: #4d73f8;
  --secondary-color: #fff;
  --tertiary-color: #090020;
}

.column.right .side-nav {
  display: none;
}

.side-nav {
  background-color: var(--primary-color);
  padding: 20px;
  height: 100vh;
  text-align: center;
}

.side-nav .logo {
  font-size: 25px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.side-nav .logo a {
  color: #fff;
}

.side-nav .button button {
  padding: 12px 24px;
  border: none;
  background-color: #fff;
  color: #090020;
  border-radius: 6px;
  margin-top: 3rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
}

.side-nav .line {
  margin-top: 1rem;
  background-color: #090020;
}

.side-nav ul {
  margin-top: 2rem;
  text-align: start;
  padding: 0 2rem;
}

.side-nav ul li {
  list-style-type: none;
  padding: 0.5rem;
}

.side-nav ul li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  gap: 10px;
}

.side-nav ul .log-out {
  margin-top: 8rem;
}

.menu {
  position: fixed;
  color: #1b1725;
  top: 10px;
  right: 20px;
  cursor: pointer;
  display: none;
}

.dashboard,
.job-seeker-dashboard {
  padding-top: 10px;
}

.dashboard .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.job-seeker-dashboard .dashboard-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard .dashboard-header h2,
.mobile-dashboard-header {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
}

.dashboard .dashboard-header .search-bar {
  position: relative;
  left: 18%;
}

.mobile-dashboard-header {
  display: none;
  margin-bottom: 1rem;
}

.job-seeker-dashboard .dashboard-header .search-bar {
  position: relative;
}

.dashboard .dashboard-header .search-bar input[type="search"] {
  width: 320px;
  height: 40px;
  border-radius: 5px;
}

.job-seeker-dashboard .dashboard-header .search-bar input[type="search"] {
  width: 550px;
  height: 40px;
  border-radius: 5px;
}

.dashboard .dashboard-header .search-bar img {
  position: absolute;
  right: 3%;
  top: 22%;
}

.job-seeker-dashboard .dashboard-header .search-bar img {
  position: absolute;
  right: 2%;
  top: 22%;
}

.job-seeker-dashboard .dashboard-header h6 {
  display: inline-block;
  margin-left: 1rem;
  color: #020c18;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboard .dashboard-header .dropdown {
  width: 30px;
  margin: 0 0 7% 5px;
}

.job-seeker-dashboard .dashboard-header .notification-img {
  width: 30px;
  margin: 0 0 2% 5px;
}

.dashboard .cards .card,
.job-seeker-dashboard .cards .card,
.job-seeker-dashboard .cards2 .card {
  border-radius: 10px;
  border: 0.3px solid rgba(2, 12, 24, 0.51);
  background: #fff;
  padding: 20px;
}

.job-seeker-dashboard .cards2 .card {
  margin-top: 1rem;
}

.dashboard .cards {
  position: relative;
}

.dashboard .cards .card h6 {
  color: #020c18;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboard .cards .card h2 {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
  margin: 1rem 0;
}

.dashboard .cards .card img {
  position: absolute;
  z-index: 1;
  bottom: 81%;
  margin-left: 18%;
}

.dashboard .cards .grid > *:nth-child(4) {
  grid-column: 1 / span 2;
}

.dashboard .cards .grid > *:nth-child(6) {
  grid-column: 1 / span 3;
}

.dashboard .cards .card.card2 h4,
.dashboard .cards .card.card2 h6 {
  display: inline;
}

.dashboard .cards .card.card2 h4,
.dashboard .cards .card.card3 h4 {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dashboard .cards .card.card2 h6 {
  float: right;
  color: #96b300;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}

.dashboard .cards .card.card2 h5,
.dashboard .cards .card.card3 h5 {
  color: #6d6d6d;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 2rem 0 4rem 0;
}

.dashboard .cards .card.card3 .card3-content {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.dashboard .cards .card.card3 h6 {
  color: #6d6d6d;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.dashboard .cards .card.card3 .card3-content > *:nth-child(2) {
  margin-left: 8rem;
}

.dashboard .cards .card.card3 h5 {
  text-align: center;
  margin: 5rem 0 2rem 0;
}

.job-seeker-dashboard .cards {
  position: relative;
}

.job-seeker-dashboard .cards .card h4,
.job-seeker-dashboard .cards2 .card h4 {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.job-seeker-dashboard .cards .grid > *:first-child {
  grid-column: 1 / span 2;
  height: 15rem;
}

.job-seeker-dashboard .cards .grid > *:nth-child(2) {
  height: 24.8rem;
}

.job-seeker-dashboard .cards .grid > *:nth-child(3) {
  grid-column: 1 / span 2;
  position: absolute;
  top: 63%;
  width: 55%;
}

.job-seeker-dashboard .cards .card .card1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-seeker-dashboard .cards .card .card1-content h5 {
  color: #6d6d6d;
  font-family: "Open Sans", sans-serif;
  padding-top: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
}

.job-seeker-dashboard .cards .card button {
  border-radius: 10px;
  background: #4d73f8;
  padding: 5px 24px;
  color: #fff;
  border: 1px solid #4d73f8;
  font-family: "Nunito", sans-serif;
}

.job-seeker-dashboard .cards .card.card2 hr {
  border: 1px solid rgba(150, 179, 0, 0.3);
  border-radius: 5px;
  background: rgba(150, 179, 0, 0.3);
  width: 327.705px;
  height: 13px;
  margin: 1rem 0;
}

.job-seeker-dashboard .cards .card.card2 h6 {
  color: #6d6d6d;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.job-seeker-dashboard .cards .card.card2 ul {
  margin: 1rem;
}

.job-seeker-dashboard .cards .card.card2 ul li {
  padding: 0.5rem 0;
  list-style-type: none;
}

.job-seeker-dashboard .cards .card.card3 h5,
.job-seeker-dashboard .cards2 .card h5 {
  color: #6d6d6d;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 2rem 0 2rem 0;
}

.premium {
  border-radius: 24px;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(2, 12, 24, 0.15);
  width: 178px;
  height: 178px;
  padding: 20px;
  position: relative;
  right: 15%;
}

.premium h5 {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

.premium h6 {
  color: #6d6d6d;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

.premium .go-premium {
  color: #96b300;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.premium img {
  position: absolute;
  width: 25%;
  height: 25%;
  bottom: 20%;
  left: 60%;
}
