@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Nunito:wght@300&family=Ultra&family=Kanit&family=Open+Sans:wght@600&display=swap");

:root {
  --primary-color: #4d73f8;
  --secondary-color: #fff;
  --tertiary-color: #090020;
}

.side-nav {
  background-color: var(--primary-color);
  padding: 20px;
  height: 100vh;
  text-align: center;
}

.side-nav .logo {
  font-size: 25px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.side-nav .logo a {
  color: #fff;
}

.side-nav .button button {
  padding: 12px 24px;
  border: none;
  background-color: #fff;
  color: #090020;
  border-radius: 6px;
  margin-top: 3rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.side-nav .line {
  margin-top: 1rem;
  background-color: #090020;
}

.side-nav ul {
  margin-top: 3rem;
  text-align: start;
  padding: 0 2rem;
}

.side-nav ul li {
  list-style-type: none;
  padding: 1rem;
}

.side-nav ul li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  gap: 10px;
}

.side-nav ul .log-out {
  margin-top: 5rem;
}

.dashboard .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 1rem;
}

.dashboard .dashboard-header h2 {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
}

.dashboard .dashboard-header .search-bar {
  position: relative;
  left: 18%;
}

.dashboard .dashboard-header .search-bar input[type="search"] {
  width: 320px;
  height: 40px;
}

.dashboard .dashboard-header .search-bar img {
  position: absolute;
  right: 3%;
  top: 22%;
}

.dashboard .dashboard-header .dropdown {
  width: 30px;
  margin: 0 0 7% 5px;
}

.dashboard .cards .card {
  border-radius: 10px;
  border: 0.3px solid rgba(2, 12, 24, 0.51);
  background: #fff;
  padding: 20px;
}

.dashboard .cards {
  position: relative;
}

.dashboard .cards .card h6 {
  color: #020c18;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboard .cards .card h2 {
  color: #020c18;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
  margin: 1rem 0;
}

.dashboard .cards .card img {
  position: absolute;
  z-index: 1;
  bottom: 20%;
  margin-left: 18%;
}
