@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Nunito:wght@300&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.sign-in {
  height: 100vh;
}

.sign-in .grid {
  gap: 0;
}

.sign-in .logo {
  margin-top: 1rem;
  margin-left: 3.5rem;
  font-size: x-large;
}

.sign-in .logo svg {
  width: 30px;
  padding-top: 0.5rem;
}

.sign-in-details {
  padding: 2rem 1rem;
  text-align: center;
}

.sign-in-details h6 {
  color: #6d6d6d;
  font-family: "Nunito", sans-serif;
  font-size: small;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem;
  text-align: center;
}

form .input-box h6 {
  color: #6d6d6d;
  font-family: "Nunito" sans-serif;
  font-size: small;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 1.5rem;
}

form input {
  border-radius: 10px;
  border: 0.5px solid rgba(77, 115, 248, 0.56);
  width: 400px;
  height: 50px;
}

form .checkbox {
  margin-left: 1.5rem;
}

form .checkbox span {
  color: #6d6d6d;
  font-family: "Nunito", sans-serif;
  font-size: small;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.5rem;
}

form button {
  border-radius: 10px;
  background: #4d73f8;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: small;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 400px;
  height: 50px;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.sign-in-details h6 a {
  color: #4d73f8;
}

.sign-in-img-area {
  background-image: url(/public/Rectangle\ 532.jpg);
  background-position: center;
  background-size: cover;
}

.sign-in-img-area2 {
  background-image: url(/public/Rectangle\ 533.jpg);
  background-position: bottom;
  background-size: cover;
}

.content-container {
  border-radius: 20px;
  background: rgba(77, 115, 248, 0.6);
  margin: 3rem 2rem;
}

.content-container h3 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 2rem 0 1rem 0;
}

.content-container hr {
  width: 20%;
  margin-bottom: 1rem;
  border: 1px solid #fff;
}

.content-container h3 a {
  color: #fff;
}

.content-container .link h3 {
  margin: 0.5rem 0 3rem 0;
}

.content-container h6 {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

.content-container h4 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12rem;
}

/* Tablets and under */
@media all and (max-width: 768px) {
  .sign-in .container {
    padding: 10px;
  }
  .sign-in-details {
    width: 100%;
  }

  .sign-in .logo {
    margin-left: 2rem;
  }

  form {
    margin-top: 2rem;
  }

  form input,
  form button {
    width: 100%;
  }

  form .checkbox,
  form .input-box h6 {
    margin-left: 0;
  }

  .content-container .container {
    padding: 20px;
  }

  .content-container h3 {
    font-size: 20px;
  }

  .content-container h6 {
    font-size: 12px;
  }

  .content-container h4 {
    font-size: 14px;
  }
}

/* Mobile */
@media all and (max-width: 500px) {
  .sign-in-details {
    padding: 1rem 0;
  }

  form .input-box h6,
  form .checkbox span {
    font-size: 10px;
  }

  input[type="checkbox"] {
    width: 15px;
  }

  .sign-in-details h6 {
    font-size: 12px;
  }

  form input,
  form button {
    height: 40px;
  }
}

/* Mobile */
@media all and (max-width: 320px) {
  .sign-in .logo a {
    padding-top: 1rem;
    font-size: 20px;
  }

  .sign-in .logo svg {
    width: 25px;
    padding-top: 0;
  }
}
